<app-header></app-header>
<app-navigation></app-navigation>
<div class="content-wrapper">
  <section class="content" style="overflow-y:hidden;overflow-x:hidden; height: calc(100vh - 99px) !important;">
    <div class="content">
      <div class="row">
          <ng-snotify></ng-snotify>
          <ngx-spinner></ngx-spinner>
        <div class="box">
          <div class="box-body">
            <div>
              <table class="table table-bordered tableBodyScroll">
                <thead>
                  <tr>
                    <th id="1" style="width: 10%">#</th>
                    <th id="2" style="width: 15%">CompanyName</th>
                    <th id="3" style="width: 25%">Address</th>
                    <th id="4" style="width: 20%">Telephone</th>
                    <th id="5" style="width: 20%">Mobile</th>
                    <th id="6" style="width: 10%" class="text-right">
                      <button type="submit" class="btn btn-flat btn-success btn-xs"
                      (click)="new()">NEW
                    </button>
                  </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let supplier of supplierList;let rowNo=index;">
                    <td style="width: 10%">
                      <span class="badge bg-green">{{supplier.id}}</span>
                    </td>
                    <td style="width: 15%">
                      <span class="badge bg-yellow">{{supplier.companyName}}</span>
                    </td>
                    <td style="width: 25%">
                      {{supplier.address}}
                    </td>
                    <td style="width: 20%">
                      {{supplier.telephone}}
                    </td>
                    <td style="width: 20%" class="text-right">
                       {{supplier.mobile}}
                    </td>
                    <td style="width: 10%">
                      <button type="submit" class="btn btn-flat btn-success btn-xs"
                        (click)="edit(rowNo,supplier)">EDIT
                      </button>
                      <button type="submit" class="btn btn-flat btn-danger btn-xs"
                        (click)="delete(rowNo,supplier)">DELETE
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngx-smart-modal #advanceOrderDetail identifier="masterForm">
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-success">
              <div class="box-body">
                <form #inputForm="ngForm">
                  <div class="form-group">
                    <label>CompanyName</label>
                    <input name="companyName" class="form-control input-sm" type="text" [(ngModel)]="supplier.companyName"
                      required>
                  </div>
                  <div class="form-group">
                    <label>ProductApi</label>
                    <textarea rows="4" cols="50" name="supplier.productApi"
                      class="form-control input-sm" [(ngModel)]="supplier.productApi" required></textarea>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <textarea rows="4" cols="50" name="supplier.address"
                      class="form-control input-sm" [(ngModel)]="supplier.address" required></textarea>
                  </div>
                  <div class="form-group">
                    <label>Telephone</label>
                    <input name="supplier.telephone" class="form-control input-sm" type="text" [(ngModel)]="supplier.telephone"
                    required>
                  </div>
                  <div class="form-group">
                    <label>Mobile</label>
                      <input name="supplier.mobile" class="form-control input-sm" type="text" [(ngModel)]="supplier.mobile"
                      required>
                  </div>
                  <div class="form-group">
                    <label>Fax</label>
                      <input name="supplier.fax" class="form-control input-sm" type="text" [(ngModel)]="supplier.fax"
                      required>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input name="supplier.email" class="form-control input-sm" type="text" [(ngModel)]="supplier.email"
                    required>
                  </div>
                  <div class="form-group">
                    <label>WebSite</label>
                    <input name="supplier.webSite" class="form-control input-sm" type="text" [(ngModel)]="supplier.webSite"
                    required>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-flat btn-primary btn-sm" style="margin-top: 25px;"
                      (click)="save()">SAVE
                    </button>
                    <button type="submit" class="btn btn-flat btn-danger btn-sm" style="margin-top: 25px;"
                      (click)="clear()">CLEAR
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-smart-modal>
  </section>
</div>
<app-footer></app-footer>
