<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree" data-api="tree" data-accordion="0">
      <li class="treeview active">
        <a href="" id="main-functions" [class.active-border]="isMainFunctionsActive()">
          <em class="fa fa-plus"></em>
          <span>SETTINGS</span>
          <span class="pull-right-container">
            <em class="fa fa-angle-left pull-right"></em>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [ngClass]="{'treeview': true, 'active': activeMenu == NavigationMenuTypes.MASTER}"
            (click)="setActiveMenu(NavigationMenuTypes.MASTER)">
            <a routerLink="/suppliers">
              <span>SUPPLIERS</span>
            </a>
          </li>
        </ul>
        <ul class="treeview-menu">
          <li [ngClass]="{'treeview': true, 'active': activeMenu == NavigationMenuTypes.MASTER}"
            (click)="setActiveMenu(NavigationMenuTypes.MASTER)">
            <a routerLink="/orders">
              <span>ORDERS</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
