<div class="site-footer">
    <app-decor class="site-footer__decor" type="bottom"></app-decor>
    <div class="site-footer__widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <app-contacts class="site-footer__widget"></app-contacts>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <app-newsletter class="site-footer__widget"></app-newsletter>
                </div>
            </div>
        </div>
    </div>
</div>
